body{
  background-color:black;
  display: flex;
}

.App{
  margin: 0;
  width: 100%;
  height:max-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

#root{
  background-color: grey;
  border: 1px solid black;
  bottom: 0;

}