.App{
    align-items: center;
    display: flex;
    height: auto;
    flex-direction: column;
}

/* zona cards */

.App ul{
    list-style: none;

}

ol, ul {
    padding-left: 0;
}

.card{
    margin:10% auto;
}

@media (min-width: 1024px){
    .App{
        flex-direction: unset;
    }
    
    .contenedor{
        margin:5%;
    }
    
    .listaProfesionales{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    
    .card{
        margin: auto;
        margin: 20px;
    }

}

@media (min-width: 1024px){
    
    .listaProfesionales{
        grid-template-columns: repeat(4, 3fr);

    }

}

@media (min-width: 1440px){

    
    .listaProfesionales{
        grid-template-columns: repeat(5, 3fr);

    }


}