*{
    margin:0;
    padding:0;
}

.logo{
    display: flex;
    max-width: 350px;
    max-height: 350px;
    margin: -5% auto;
}
@media (min-width: 1024px){
    .logo{
        display: flex;
        margin:20% 3%;
    }   
}